.recipe-name-heading {
  font-size: 1.8em;
  margin-left: auto;
  margin-right: auto;
}

.recipe-description {
  text-align: center;
  padding: 0 3em;
}

.ingredients-section {
  position: relative;
  text-align: center;
  height: max-content;

  /* Divider */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    border-left: 2px solid;
    border-color: rgba(74, 40, 24, 0.5);
  }

  & .recipe-image-container {
    display: inline-block;
    position: relative;
    right: 10%;
    vertical-align: middle;
    width: max-content;
    height: min-content;

    & .recipe-img {
      height: 300px;
      width: 300px;
      min-height: 300px;
      min-width: 300px;
      background-color: silver;
      object-fit: cover;
    }

    & .recipe-banner,
    & .recipe-info {
      text-align: center;
      margin-top: 0.8em;
      font-size: 0.9em;
    }

    & .recipe-info {
      & .time-to-cook:before {
        -webkit-mask-image: url("images/clock.svg");
        mask-image: url("images/clock.svg");
      }

      & .serve-amount:before {
        -webkit-mask-image: url("images/hand-meal.svg");
        mask-image: url("images/hand-meal.svg");
      }

      & .time-to-cook:before,
      & .serve-amount:before {
        display: inline-block;
        content: "";
        width: 1.4em;
        height: 1.4em;
        background-color: #392012;
        -webkit-mask-size: cover;
        mask-size: cover;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        vertical-align: middle;
        margin: 0 0.3em 0 0;
      }
    }
  }

  & .ingredients-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: min-content;
    margin-right: -4em;

    & .ingredients-heading {
      position: relative;
      left: 30%;
      color: white;
      background-color: #860000;
      padding: 0.3em 2em;
      margin: 0;
      font-size: 1.1em;
      font-weight: lighter;
    }

    & ul.ingredients-list {
      position: relative;
      width: 300px;
      font-size: 0.9em;
      left: -5ch;
      list-style-position: inside;

      & li {
        position: relative;
        margin: 1ch 0;
        list-style: none;
        line-height: 1em;
        text-align: left;
        padding-left: 4ch;

        &::before {
          position: absolute;
          content: "•";
          font-size: 5ch;
          left: 0;
          top: -0.1lh;
          color: #872d2d;
        }
      }
    }
  }
}

.instructions-container {
  & .instructions-heading {
    margin-left: auto;
    margin-right: auto;
  }

  & ol.instructions-list {
    list-style: none;
    counter-reset: step-counter;
    padding: 0;
    margin-top: 1.6em;

    & li {
      position: relative;
      counter-increment: step-counter;
      margin: 1ch 0;
      padding-left: 4.5em;

      &::before {
        position: absolute;
        content: "Step " counter(step-counter) ".";
        left: 0;
        color: #860000;
        font-size: 1.1em;
        font-weight: bold;
      }
    }
  }
}

.return-to-home-link {
  position: relative;
  text-decoration: underline;
  margin-left: 1em;
  font-size: 1em;
  font-weight: bold;

  &.bottom {
    display: block;
    width: max-content;
    margin: 2em auto 0;
    font-size: 1.2em;
  }

  /* Back icon */
  &.top::before,
  &.bottom::before {
    position: absolute;
    content: "";
    width: 0.4em;
    height: 0.4em;
    top: calc(100% - 1em);
    right: calc(100% + 0.5ch);
    border-bottom: 3px solid;
    border-left: 3px solid;
    transform: rotate(45deg);
  }
}
