/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("/images/BG_TEXTURE.png");
  background-repeat: repeat;
  height: 100vh;
  font-family:
    Lucida Grande,
    Lucida Sans Unicode,
    Lucida Sans,
    Geneva,
    Verdana,
    sans-serif;
}

.fg {
  position: relative;
  color: #4a2818;
  background-color: #decdba;
  background-image: url("/images/FG_TEXTURE.png");
  background-repeat: repeat;
  width: 900px;
  padding: 60px;
  margin: 0 auto;
  margin-top: 150px;
  padding-top: 74px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.6));
  border-style: double;
  border-color: #4a2818;
  border-width: 12px;
}

.odin-recipes-banner {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: auto;
  transform: translateY(-66%) translateX(-50%);
  cursor: pointer;
}

.odin-recipes-banner img {
  width: 400px;
  height: auto;
}

main,
header {
  width: 100%;
  margin: 0 auto;
}

.main-navbar ul {
  position: relative;
  width: max-content;
  padding: 0;
  margin: 0 auto 5%;
}

.main-navbar ul li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove whitespace between list items */
.main-navbar ul {
  font-size: 0;
}
.main-navbar ul li {
  font-size: initial;
}

.main-navbar ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
}

/* Navigation Separators */
.main-navbar ul li::before {
  display: inline-block;
  content: "";
  mask-image: url("images/diamond.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  width: 8px;
  height: 8px;
  background-color: #4a2818;
  transform: translateY(-25%);
}

.main-navbar ul li:first-child::before {
  content: ""; /* Removes seperator from before first list element */
  width: 0;
}

/* Underlines */
.main-navbar ul li a:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 0.2ch;
  left: 0;
  border-radius: 2px;
  background: #39201299;
  background: linear-gradient(
    90deg,
    rgba(57, 32, 18, 0) 0%,
    rgba(57, 32, 18, 0.6) 40%,
    rgba(57, 32, 18, 0.6) 60%,
    rgba(57, 32, 18, 0) 100%
  );
}
