body {
  box-sizing: border-box;
  margin: 0;
}

/* Hide placeholder heading and replace with svg */
.odin-recipes-banner .placeholder {
  display: none;
}

.odin-recipes-banner {
  position: relative;
  text-align: center;
  margin: clamp(5px, 1vw, 20px) auto;
  width: 100%;
  height: clamp(80px, 20vw, 200px);
  outline: 1px solid #000;
}

.odin-recipes-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/odin-recipes-banner.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
