/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("/images/BG_TEXTURE.png");
  background-repeat: repeat;
  height: 100vh;
  font-family:
    Lucida Grande,
    Lucida Sans Unicode,
    Lucida Sans,
    Geneva,
    Verdana,
    sans-serif;
}

.fg {
  position: relative;
  background-color: #decdba;
  background-image: url("/images/FG_TEXTURE.png");
  background-repeat: repeat;
  width: 900px;
  padding: 60px;
  margin: 0 auto;
  margin-top: 150px;
  padding-top: 74px;
  filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.6));
  border-style: double;
  border-color: #392012;
  border-width: 12px;
}

.odin-recipes-banner {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: auto;
  transform: translateY(-65%) translateX(-50%);
}

.odin-recipes-banner img {
  width: 400px;
  height: auto;
}

main,
header {
  width: 100%;
  margin: 0 auto;
}

.main-navbar ul {
  width: max-content;
  padding: 0;
  margin: 0 auto;
}

.main-navbar ul li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 10px;
}

.main-navbar ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.main-navbar ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-thickness: 0.12em;
}
